.images-container
{
    background-size: 100% 100%;
    min-height: 60em;
    background-image:url("../static/background.jpg");
}
.image-container
{
    margin: 1em;
}
.image-container img
{
    max-height: 100px;
}
.image-container
{
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .1);
}

.image-container
{
    display:none;
}
.image-container .image img
{
    opacity: 0;
    -webkit-transition: 1s linear opacity;
    transition: 1s linear opacity;
}

.image-container.finished
{
    display: flex;
    justify-content: center;
    align-content: center;
}