body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}
.col-lg-4
{
    width:31.33333%;
}
.header
{
    background: linear-gradient(#AAA8B3, #C0B2AF);
    padding: 1em;
}

.header input
{
    padding: 0.5em;
    width: auto;
    display:inline;
}

.header a.btn{
    float: right;
    padding: 0.5em 1em;
    text-decoration: none;
    background:linear-gradient(#2CB8FE, #00A9FE);
}