@{
    ViewBag.Title = "Index";
}
<div ng-controller="FlickrController as flickr">
    <div class="header">
        <input type="text" class="form-control" name="tags" value="{{tags}}" placeholder="Search images" ng-model="tags" ng-keyup="search(tags)" />
        <a id="link" class="btn btn-primary" href="">Share...</a>
    </div>

    <div class="images-container col-lg-12" ng-switch="loading">
        <div ng-switch-when="false" >
            <div class="image-container col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="searchResult in searchResults">
                <div class="image">
                    <img ng-src="{{searchResult.ImageUrl}}" ng-imageonload />
                </div>
                <span>{{searchResult.Title}}</span>
                <span>{{getSource(searchResult.Source)}}</span>
                
                
            </div>
        </div>
        <div class="loading" ng-switch-when="true">
           <span class="loading-text">Loading search results</span>
            </div>
        <div class="loading" ng-switch-when="true">
            <span class="loading-gif"></span>
        </div>
    </div>
</div>